<header>
  <nav class="top navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href='/'>
          CAREER CLIMBERS
        </a>
      </div>
      <div class="my_nav nav navbar-nav navbar-right">
        <a class="pad" href="/additional_course">COURSES</a>

        <a class="pad" href="#">CERTIFICATION</a>

        <a href="#" class="btn btn-primary btn-lg active" role="button">Join on Telegrame</a>

      </div>

    </div>

  </nav>

</header>
